#styling {
    background-color: gray;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    background-color: pink;
    text-align: center;
}

div.container {
    text-align: center;
}

.card {
    background-color: green;
}