/* To style the body*/

#background-color {
    background-color: lightcoral;
    font-family: Georgia, 'Times New Roman', Times, serif'

}


/* to override the color of the nav*/

.override-nav {
    background-color: pink !important;
}


/* The button animation code */

@keyframes Welcome {
    0% {
        background-color: pink;
    }
    50% {
        background-color: palegoldenrod;
        border-radius: 10px 10px 10px 10px;
        border-style: dotted;
    }
    75% {
        background-color: lightblue;
    }
    100% {
        background-color: lightpink;
    }
}


/* The element to apply the animation to */

.buttonChange {
    width: 90px;
    height: 40px;
    animation-name: Welcome;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
}


/* To style the jumbotron and image */

.jumbotron-fluid {
    padding-bottom: 10px;
}


/* To style the first container*/

.container-1 {
    background-color: pink;
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.heading-1 {
    text-align: center;
}

.text-style {
    text-align: left;
}


/* To style the second container*/

.container-2 {
    background-color: pink;
    padding-top: 20px;
}

.heading-2 {
    text-align: center;
}