            /* To style the body*/
            
            #background-color {
                background-color: lightgoldenrodyellow;
                font-family: Georgia, 'Times New Roman', Times, serif'

            }
            /* to override the color of the nav*/
            
            .override-nav {
                background-color: pink !important;
            }
            /*Styling the nav links*/
            /* unvisited link */
            
            a:link {
                color: black;
            }
            /* visited link */
            
            a:visited {
                color: red;
            }
            /* The button animation code */
            
            @keyframes Welcome {
                0% {
                    background-color: pink;
                }
                50% {
                    background-color: palegoldenrod;
                    border-radius: 10px 10px 10px 10px;
                    border-style: dotted;
                }
                75% {
                    background-color: lightblue;
                }
                100% {
                    background-color: lightpink;
                }
            }
            /* The element to apply the animation to */
            
            .buttonChange {
                width: 90px;
                height: 40px;
                animation-name: Welcome;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in;
                animation-direction: alternate;
                margin-top: 3%;
            }
            /* To style the jumbotron and image */
            
            .jumbotron-fluid {
                padding-bottom: 10px;
            }
            /* To style the first heading*/
            
            .heading-1 {
                text-align: center;
                padding-top: 5%;
                ;
            }
            
            .text-style {
                text-align: left;
                background-color: pink;
                padding-top: 90px;
                padding-bottom: 100px;
            }
            /* To style the second container*/
            
            .container-2 {
                margin-top: 50px;
                padding-bottom: 50px;
                margin-bottom: 5px;
            }
            
            .heading-2 {
                text-align: center;
            }
            /* Styling the row and column class */
            
            .row {
                padding-left: 10%;
                padding-right: 10%;
                padding-top: 10%;
                padding-bottom: 10%;
                background-color: pink;
                display: flex;
            }
            
            .col {
                padding-bottom: 10%;
                padding-top: 10%;
                background-color: purple;
                color: white;
            }
            
            .col-lg-6 {
                padding-bottom: 10%;
                padding-top: 10%;
                background-color: lightyellow;
            }
            /* To style the title certificates*/
            
            .certificates {
                text-align: center;
            }
            
            #slideShow {
                background-color: pink;
                padding-bottom: 10%;
                margin-bottom: 10%;
            }
            /*Styling the accomplishments section*/
            
            .carousel-item {
                text-align: center;
                width: 10%;
                height: 800px;
                margin-bottom: 10%;
            }
            /* Styling the experience section*/
            
            .row {
                background-color: pink;
                padding-bottom: 50px;
                margin-bottom: 50px;
            }
            
            .heading-3 {
                text-align: center;
            }
            
            .col {
                color: black;
            }
            /*styling the fifth container*/
            
            .container-fluid-5 {
                margin-top: 15px;
                background-color: pink;
            }
            
            .heading-5 {
                text-align: center;
                margin-top: 10%;
            }
            
            .card-text {
                text-align: center;
            }
            
            .measurements {
                width: 420px;
                height: 315px;
            }
            /* Adding some styling to the contact form*/
            
            #form-color {
                text-align: center;
                margin-top: 10%;
            }
            
            .form-group {
                background-color: pink;
                text-align: left;
            }
            /*The footer section*/
            
            #style-footer {
                text-align: center;
                margin-top: 10%;
            }
            
            .style-links {
                margin-top: 7%;
                background-color: pink;
                height: 170px;
            }
            
            .instagram {
                width: 60px;
                height: 60px;
                border-radius: 100%;
            }
            
            .facebook {
                width: 60px;
                height: 60px;
                border-radius: 100%;
            }
            
            .linkedin {
                width: 60px;
                height: 60px;
                border-radius: 100%;
            }
            
            .twitter {
                width: 60px;
                height: 60px;
                border-radius: 100%;
            }
            
            .outlook {
                width: 60px;
                height: 60px;
                border-radius: 100%;
            }