    /* Styling the whole body*/
    
    #back-color {
        background-color: #90a4ae;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }
    /* Resizing the image*/
    
    .display-4 {
        color: white;
    }
    /* Shifting the nav bar*/
    
    .nav-item {
        margin-right: 140px;
    }
    
    .lead {
        margin-left: 3%;
        margin-right: 3%;
    }
    /* To style the color of the nav*/
    
    .col-12 {
        background-color: lightgrey;
    }
    /* Styling the row containers*/
    
    .col-lg-4 {
        padding-top: 70px;
        padding-bottom: 60px;
    }
    /*Resizing the carousel*/
    
    .display-5 {
        padding-top: 3%;
    }
    
    .carousel-inner {
        background-color: #90a4ae;
        margin-top: 3%;
    }
    /*Adding style to the cards*/
    
    .card {
        margin-top: 10%;
    }
    /*Styling the forms*/
    
    .form-group {
        margin-left: 5%;
        margin-top: 3%;
    }
    /* Styling the button*/
    
    .btn-outline-warning {
        margin-left: 45%;
    }
    /* The button animation code */
    
    @keyframes submit {
        0% {
            background-color: lightgrey;
        }
        50% {
            border-radius: 10px 10px 10px 10px;
            border-style: solid
        }
        100% {
            background-color: lightslategray;
        }
    }
    /* The element to apply the animation to */
    
    .submit {
        width: auto;
        height: 40px;
        animation-name: submit;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        background: transparent;
        margin-left: 70px;
    }
    /* Styling the social icons*/
    
    .col-10 {
        background-color: lightgray;
        padding-right: 90px;
    }
    
    .instagram {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        padding-right: 10px;
        padding-left: 10px;
        background: transparent;
    }
    
    .facebook {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        padding-right: 10px;
        padding-left: 10px;
        background: transparent;
    }
    
    .LinkedIn {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        padding-right: 10px;
        padding-left: 10px;
        background: transparent;
    }
    
    .twitter {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        padding-right: 10px;
        padding-left: 10px;
        background: transparent;
    }
    
    .outlook {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        padding-right: 10px;
        padding-left: 10px;
        background: transparent;
    }
    
    .col-12 {
        text-align: center;
        padding-bottom: 3%;
    }
    
    .col-color {
        padding-top: 2%;
    }